@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


@font-face {
  font-family: 'Milk And Honey Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Milk And Honey Regular'), url('Milk And Honey.woff') format('woff');
  }
*{
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;

}
.top{
  background-color: #F8AD79;
  ;
}
.top h4{
  padding-top: 7px;
  font-size: 13px ;
  line-height: 17.2px ;
  font-weight: 700;
  color:#462B13  ;

}
.navbar{
  height: 80px;
  /* padding-top: 10px ;
  padding-bottom: 30px ; */
}
.nav-2{
  background: #FFE1CC;

}
.nav-2 img{
  padding-top: 7px;
  padding-bottom: 7px ;
}


/* section.claim */
.claim{
  background: linear-gradient(to bottom ,#422410,#2D1A0FA3);
}

/* .jar-img{
  width: 550px ;
  height: 480px ;
} */
.claim-2 h1{
  color: #F8AD79;
  font-size: 35px ;
  font-weight: 600;
  line-height: 45px ;
  padding: 25px 0px;
}
.claim-2 span{
  font-family: 'Milk And Honey Regular';
font-weight: 400;
font-size: 37px ;
}
.claim-2 p{
  padding-top: 5px ;
  padding-bottom: 15px ;

font-weight: 600;
font-size: 15px ;
color: white;
line-height: 25px ;

}
.claim-2 label{
font-weight: 600;
font-size: 15px ;
color:#F8AD79;
line-height: 25px ;

}
.claim-button{
  font-size: 18px ;
  font-weight: 700;
  line-height: 23.81px ;

}
.claim-button a{
 
text-decoration: none;
color: #422410;
background-color: #F8AD79;
padding: 12px 10px  ;
border-radius: 10px ;



}
/* section move  */

.marquee-container {
  width: 100%;
  overflow: hidden;
  background:#F8AD79;
}
.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}
.marquee span{
  color: #422410;

}

@keyframes marquee {   
  from{
    transform: translate(0);
  }
  to{
    transform: translate(-100%);
  }
}
.marquee:hover {
  animation-play-state: paused;
}

/* /* section discription */


.discription h1{
  font-family: 'Milk And Honey Regular';
  font-weight: 400;
  /* font-size: 37px ;
  line-height: 40px ; */
  /* white-space: nowrap
  ; */
  }
.discription h5{
  font-size: 16px;
  line-height: 23.81px;
  font-weight: 600;
  text-indent: -14px;
margin-left: 27px;
  
}

.shop-button{
  font-size: 18px ;
  font-weight: 700;
  line-height: 23.81px ;

}
.shop-button a{
 
text-decoration: none;
color: #422410;
background-color: #F8AD79;
padding: 22px 100px;
border-radius: 10px ;

}

/* section review  */

.review{
  background-color: #F8F8F8;
}
.review h1{
  color: #422410;
  font-weight: 700;
  font-size: 64px ;
  font-family: 'Milk And Honey Regular';


}















.pm-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.logo-icon {
  width: 48px;
  height: 48px;
  background-color: #00b9f1;
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-right: 0.5rem;
}
.logo-text {
  font-size: 24px;
  font-weight: bold;
  padding-top: 20px ;
}
.description {
  font-size: 18px;
  margin-bottom: 1rem;
}
.learn-more {
  color: #00b9f1;
  font-weight: bold;
  text-decoration: none;
}
.carosel1 {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.carosel1-container {
  display: flex;
  transition: transform 0.3s ease-in-out;
}
.carosel1-item {
  flex: 0 0 100%;
  padding: 0 0.5rem;
  box-sizing: border-box;
}
.card {
  border-radius: 15px;
  padding:0px 0px 94px 0px ;
  height: 484px;
  
  width: 300px  ;
}
.card-icon {
  font-size: 48px;
  margin-bottom: 0.5rem;
}

.next-button {
  background-color:#422410;
  border: none;
  border: 2px solid #F8AD79;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  color:#F8AD79;
}
.prev-button {
  background-color:#422410;
  border: none;
  border: 2px solid #F8AD79;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  color:#F8AD79;
}
.paytm-money-logo{
height: 54px ;
width: auto ;
margin-bottom: 20px ;



}
.card-logo-img{
  width: 275px;
  height: 240px;
}
.card-logo-img1{
  border-radius: 100%;
  width: 72px;
  height: 72px;
  margin-left: 1px;
  margin-right: 67px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.invest-img{
  margin-top: 12px;
  margin-left: 12px;
  border-radius: 15px ;
}
.refund-img{
  margin-top: 75px ;
}

.card h5{
  font-weight: 700;
  font-size: 18px ;
  line-height: 23.81px ;
}
.card p{
  font-size: 14px ;

}

/* section scietist  */


.scientist h5{
font-size: 22px;
line-height: 30px;
font-weight: 800;
color: #F8AD79;
}
.scientist h2{
font-size: 32px;
line-height: 45px;
font-weight: 700;
}
.scientist p{
font-size: 20px;
line-height: 29.11px;
font-weight: 600;
}
.scientist span{
text-decoration: underline;
}
.scientist li{
  font-size: 18px;
line-height: 29.11px;
font-weight: 600;
}


.list-container{
  background-color: #F8AD79;
  border-radius: 10px;
}



/* section lightout
 */


 .light-out h1{
font-size: 42px ;
line-height: 52px ;
font-weight: 600;
color: #422410;
 }
 .light-out b{
font-size: 42px ;
line-height: 52px ;
font-weight: 600;
font-family: 'Milk And Honey Regular';
color: #422410;



 }
 .light-out label{
font-weight: 800;
text-decoration: underline;

 }
 .light-out p{
    font-size: 20px;
    line-height: 29.11px;
    font-weight: 600;

 }
 .light-out span{
   font-weight: bold;
 }

.light-jar{
  margin-top: -94px;
}

/* lightout2 */



.lightout2 h5{
  font-weight: 700;
}

/* section carousel12 */
.carosuel2{
  background-color: #F8AD79;
}

.carosuel2 h1{
  font-size: 42px ;
line-height: 52px ;
font-weight: 600;
color: #422410;
}
.carosuel2 b{
 text-decoration: underline;
}
.carosuel2 p{
  font-size: 14px ;
  line-height: 18.52px ;
  text-indent: -10px ;
}

.card1{
  border-radius: 15px;
  padding:0px 0px 94px 0px ;
  height: 484px;
  
  width: 300px  ;
  background-color: #F9EEE6;
}

/* perfect container */

.perfect-container{
  background-color: #F8AD79;
  border-radius: 10px ;

}

.perfect-container h5{
color: #422410;  
font-size: 20px ;
line-height: 26.88px ;
font-weight: 700;
}
.perfect-container p{
color: #422410;  
font-size: 16px ;
line-height: 21.17px ;
font-weight: 500;
}
/* book section  */


.book h1{
  font-size: 36px ;
  font-weight: 700;
  line-height: 40px ;
}

.book span{
 color: #F8AD79;
 text-decoration: underline;
}

/* sales section  */

.sales h1{
  font-size: 36px ;
  font-weight: 700;
  line-height: 40px ;
}
.sales p{
  font-size: 16px ;
  line-height: 21.17px ;
  font-weight: 500;
  text-indent: -14px ;
}


#one-time-purchase, #subscribe-save {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  margin-right: -20px ;
  background-color: #F6F6F6;

}

#one-time-purchase.active, #subscribe-save.active {
  background-color:#F8AD79; /* Highlight color when active */
  color: #422410;
  /* border-radius: 50px; */

}
#one-time-purchase{
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px ;
 
}
#subscribe-save {
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px ;
 
}
#one-time-purchase.active{
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px ;
}
#subscribe-save.active{
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px ;
}
